/*
LAYOUT: Two-Column (Right)
DESCRIPTION: Two-column fluid layout with one sidebars right of content
*/

body {
       padding: 0 2em;
/*       background: #fff;	*/
      /* background-color:rgb(245,244,223); */
/*       text-align:center; */

}

#wrapper { 
	margin: 2em auto;
	max-width: 1000px;
}

#access div {
	margin: 0 7.6%;
}

#container {
	float: left;
	margin: 0 -26.4% 0 0;
	width: 100%;
}
#content {
	margin: 0 34% 0 7.6%;
}

#primary, #secondary {
	float: right;
	overflow: hidden;
	width: 180px;

}
#secondary {
	clear: right;

}
#footer {
	clear: both;
	width: 100%;
}
